{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Предложите контракт
{% endblock %}

{% block content %}

    <p>
        Вы <strong> Участник 1 </strong>.

        В предыдущей игре вам предлагался выбор из опции A и опции Б в 10-ти лотереях.
        Участник 2 совершил такой же выбор, номер лотереи в которой Учатник 2 переключился с лотереи А
        на лотерею Б, отражает его предпочтения. В таблице ниже приведен средний за три раунда
        момент перехода Участника 2 с лотереи А на Лотерею Б

    <table class=table>
      <tr>
        <th>Лотерея A [фиксированная выплата]</th>
          <th>Лотерея B <p>[фиксированная] ± [переменная выплата] </p> </th>
        <th>выбор A</th>
        <th>выбор B</th>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td> [фиксированная выплата] = 2.3 токена. [переменная выплата] с вероятностью 1/10 примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice > 1 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 1 %}
                ☑
            {% endif %}</td>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td>                                     [переменная выплата] с вероятностью  примет значение 2,2.[фиксированная выплата] = 2.3 токена. переменная выплата] с вероятностью 2/10 примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice > 2 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 2 %}
                ☑
            {% endif %}</td>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td>                                     иначе примет значение минус 2,2.[фиксированная выплата 2.3 токена. [переменная выплата] с вероятностью 3/10 примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice > 3 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 3 %}
                ☑
            {% endif %}</td>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td> [фиксированная выплата] = 2.3 токена. [переменная выплата] с вероятностью 4/10 примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice > 4 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 4 %}
                ☑
            {% endif %}</td>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td> [фиксированная выплата] = 2.3 токена. [переменная выплата] с вероятностью 5/10 примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice > 5 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 5 %}
                ☑
            {% endif %}</td>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td> [фиксированная выплата] = 2.3 токена. [переменная выплата] с вероятностью 6/10 примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice > 6 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 6 %}
                ☑
            {% endif %}</td>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td> [фиксированная выплата] = 2.3 токена. [переменная выплата] с вероятностью 7/10 примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice > 7 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 7 %}
                ☑
            {% endif %}</td>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td> [фиксированная выплата] = 2.3 токена. [переменная выплата] с вероятностью 8/10 примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice > 8 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 8 %}
                ☑
            {% endif %}</td>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td> [фиксированная выплата] = 2.3 токена. [переменная выплата] с вероятностью 9/10 примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice > 9 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 9 %}
                ☑
            {% endif %}</td>
      </tr>
      <tr>
        <td> [фиксированая выплата = 1.9] </td>
        <td>1>[фиксированная выплата] = 2.3 токена. [переменная выплата] с вероятностью  0/10примет значение 2,2.
                                    иначе примет значение минус 2,2. </td>
        <td>{%  if group.agent_average_risk_choice  > 10 %}
                ☑
            {% endif %}</td>
        <td>{%  if group.agent_average_risk_choice <= 10 %}
                ☑
            {% endif %}</td>
      </tr>

    </table>

        Пожалуйта предожите условия контракта для Участника 2, если известно, что средний за три раунда
        момент перехода Участника 2 с лотереи А на Лотерею Б был {{ group.agent_average_risk_choice}}-я лотерея.


    {% formfield group.agent_fixed_pay label='Фиксированная выплата' %}

    <p>
        Фиксированная выплата должна быть в интервале от
        {{ Constants.min_fixed_payment }} до  {{ Constants.max_fixed_payment }}.
    </p>

    {% formfield group.agent_piece_rate label='Переменная выплата' %}

    <p></p>

    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
