{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Предложите контракт
{% endblock %}

{% block content %}

    <p>
        Вы <strong> Участник 1 </strong>.

        В предыдущей игре вам предлагался выбор из варианта A и варианта Б в десяти лотереях.
        Участник 2 совершил выбор в идентичных с Вами условиях, номер лотереи в которой Участник 2 переключился с лотереи А
        на лотерею Б, отражает его предпочтения.

    {{ form.viewed_risk_preff.errors }}

    <label class="col-form-label">
    <b>Информация о предпочтениях из этапа 1 другого участника в группе</b>
</label>


<div class="custom-control custom-radio">
  <input type="radio" id="customRadio1" name="viewed_risk_preff" class="custom-control-input"
         data-toggle="collapse" href="#collapseExample" value = 1>
  <label class="custom-control-label" for="customRadio1">Просмотреть информацию</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio2" name="viewed_risk_preff" class="custom-control-input" value = 0>
  <label class="custom-control-label" for="customRadio2">Оставить непросмотренной</label>
</div>



{#<div class="input-group">#}
{#    <div class="input-group-prepend">#}
{#        <span class="input-group-text">Да</span>#}
{#    </div>#}
{##}
{#    <input type="range" name="viewed_risk_preff" min="-1" max="1" step="2" class="form-control"#}
{#    data-toggle="collapse" href="#collapseExample">#}
{##}
{#    <div class="input-group-append">#}
{#        <span class="input-group-text">Нет</span>#}
{#    </div>#}
{#</div>#}




    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        В таблице ниже приведен средний за три раунда
            момент перехода Участника 2 с лотереи А на Лотерею Б

        <table class=table>
          <tr>
            <th>Лотерея A [фиксированная выплата]</th>
              <th>Лотерея B <p>[фиксированная] ± [переменная выплата] </p> </th>
            <th>выбор A</th>
            <th>выбор B</th>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td> [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  55% примет значение 3.5   иначе примет значение минус 3.5</td>
            <td>{%  if group.agent_average_risk_choice > 1 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 1 %}
                    ☑
                {% endif %}</td>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td>  [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  60% примет значение 3.5                                 иначе примет значение минус 3.5</td>
            <td>{%  if group.agent_average_risk_choice > 2 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 2 %}
                    ☑
                {% endif %}</td>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td>  [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  65% примет значение 3.5   иначе примет значение минус 3.5</td>
            <td>{%  if group.agent_average_risk_choice > 3 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 3 %}
                    ☑
                {% endif %}</td>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td> [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  70% примет значение 3.5   иначе примет значение минус 3.5</td>
            <td>{%  if group.agent_average_risk_choice > 4 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 4 %}
                    ☑
                {% endif %}</td>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td> [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  75% примет значение 3.5   иначе примет значение минус 3.5</td>
            <td>{%  if group.agent_average_risk_choice > 5 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 5 %}
                    ☑
                {% endif %}</td>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td> [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  80% примет значение 3.5   иначе примет значение минус 3.5</td>
            <td>{%  if group.agent_average_risk_choice > 6 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 6 %}
                    ☑
                {% endif %}</td>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td> [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  85% примет значение 3.5   иначе примет значение минус 3.5</td>
            <td>{%  if group.agent_average_risk_choice > 7 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 7 %}
                    ☑
                {% endif %}</td>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td> [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  90% примет значение 3.5   иначе примет значение минус 3.5</td>
            <td>{%  if group.agent_average_risk_choice > 8 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 8 %}
                    ☑
                {% endif %}</td>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td> [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  95% примет значение 3.5   иначе примет значение минус 3.5 </td>
            <td>{%  if group.agent_average_risk_choice > 9 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 9 %}
                    ☑
                {% endif %}</td>
          </tr>
          <tr>
            <td> [фиксированая выплата = 5] </td>
            <td> [фиксированная выплата]=6.5 токенов, [переменная выплата] с вероятностью  100% примет значение 3.5   иначе примет значение минус 3.5</td>
            <td>{%  if group.agent_average_risk_choice  > 10 %}
                    ☑
                {% endif %}</td>
            <td>{%  if group.agent_average_risk_choice <= 10 %}
                    ☑
                {% endif %}</td>
          </tr>

        </table>
        </div>
    Также известно, что <strong> средний за три раунда
        момент перехода Участника 2  </strong>с лотереи А на Лотерею Б был
        <strong>{{ group.agent_average_risk_choice}}-я лотерея </strong>. А  <strong> средний </strong> момент
        перехода среди <strong> всех </strong> участников был <strong> {{ r_am_oth }}-я лотерея </strong>.
    </div>

    <p>    </p>
    <p><b>
       Информация о колличестве стран которое посетил другой участник в группе</b></p>


    <div class="custom-control custom-radio2">
      <input type="radio" id="customRadio11" name="viewed_social_media_time_spend" class="custom-control-input2"
             data-toggle="collapse" href="#collapseExample2" value = 1>
      <label class="custom-control-label2" for="customRadio11">Просмотреть информацию</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio21" name="viewed_social_media_time_spend" class="custom-control-input2" value = 0>
      <label class="custom-control-label2" for="customRadio21">Оставить непросмотренной</label>
    </div>




    <div class="collapse" id="collapseExample2">
        <p> Участник 2 посетил  приблизительно {{ group.agent_social_media_time_spend  }} стран.   </p>
     </div>

        {{ form.viewed_social_media_time_spend.errors }}


        <p><b>Информация о количестве прочитанных книг, которые другой участник в группе
            прочел в течении последних 3-х месяцев</b></p>

      <div class="custom-control custom-radio1">
      <input type="radio" id="customRadio12" name="viewed_numb_of_last_books" class="custom-control-input1"
             data-toggle="collapse" href="#collapseExample1" value = 1>
      <label class="custom-control-label1" for="customRadio12">Просмотреть информацию</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio22" name="viewed_numb_of_last_books" class="custom-control-input1" value = 0>
      <label class="custom-control-label1" for="customRadio22">Оставить непросмотренной</label>
    </div>



    <div class="collapse" id="collapseExample1">
        <p> Участник 2 прочел приблизительно  {{ group.agent_numb_of_last_books }}, книг за последние 3 месяца    </p>
     </div>

            {{ form.viewed_numb_of_last_books.errors }}


    Пожалуйта предожите условия контракта для Участника 2
    {% formfield group.agent_fixed_pay label='Фиксированная выплата' %}

    <p>
        Фиксированная выплата должна быть в интервале от
        {{ Constants.min_fixed_payment }} до  {{ Constants.max_fixed_payment }}.
    </p>

    {% formfield group.agent_piece_rate label='Переменная выплата' %} Фиксированная выплата должна быть в интервале от 0 до 10

    <p>{% formfield group.expected_efforts label='Сколько усилий Вы ожидаете будет приложено Участником 2 в данном раунде' %}
    </p>



    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
