{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose difficulty level. Period {{ view.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
    <div class="table-wrapper">
        <table class="table table-bordered text-center" >
            <thead class="border-0">
            <th class="border-0" width="10%">Starting color</th>
            <th class="border-0" width="10%">Ending color</th>
            <th class="border-0" width="20%">Payoff</th>
            <th class="border-0" width="20%">Your choice</th>
            </thead>
            {% for i,j,l in  colorset %}
                <tr>
                    <td class="content"
                        style="background-color:hsla({{ Constants.start_color.hue }}, {{ Constants.start_color.saturation }}%, {{ Constants.start_color.lightness }}%);">
                        &nbsp;
                    </td>
                    <td class="content"
                        style="background-color:hsla({{ i.hue }}, {{ i.saturation }}%, {{ i.lightness }}%);">&nbsp;
                    </td>
                    <td>{{ j|c }}</td>
                    <td class="text-center"> {{ l.tag }}</td>
                </tr>

            {% endfor %}

        </table>
    </div>


    {% next_button %}

{% endblock %}
{% block styles %}
    <style>
    .table-wrapper{
        max-width: 300px;}


    </style>

{% endblock %}