{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Инструкция" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p>
            {% blocktrans trimmed with n=num_choices %}
                На первом этапе вам предстоит сыграть в игру, состоящую из 3 раундов.
                Каждый раунд данного этапа состоит из с 10 решений, которые будут появляться
                на экране компьютера. В каждом из решений, Вам предстоит сделать выбор между
                "Вариантом А" и "Вариантом Б". Вы можете выбрать "Вариант А" в одних решениях
                и "Вариант Б" в других. Суммы в токенах которые можно получить выбрав "Вариант А"
                или "Вариант Б", не меняются, однако шансы на более высокую награду для каждого
                из десяти решений будут различаться.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with n=num_choices %}
                После того как вы примете все свои решения, одно из 10 решений в каждом раунде
                будет выбрано случайным образом, разыграно при помощи компьютера,
                и полученный выигрыш будет выплачен Вам в конце сессии.
                Окончательный выигрыш в токенах по итогам раунда будет
                определен как выигрыш за раунд, умноженный на поправочный коэффициент, равный 25.
                Таким образом:
            {% endblocktrans %}
            <table border="1" cellspacing="0" cellpadding="0" >
            <tbody>
            <tr>
            <td valign="top" ><p><b>Выигрыш в токенах  = Выигрыш за раунд * 25</b></p></td>

            </tr>
            </tbody>
            </table>

        </p>


    </div>

    {% next_button %}

{% endblock %}
