{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Инструкция" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p>
            {% blocktrans trimmed with n=num_choices %}
            На первом этапе вам предстоит сыграть в игру, состоящую из 3 раундов.
                Каждый раунд данного этапа состоит из 10 решений, которые будут появляться на экране компьютера.
                В каждом из решений Вам предстоит сделать выбор между "Вариантом А" и "Вариантом Б".
                Суммы в токенах, которые можно получить в этих вариантах, не меняются,
                однако шансы на более высокую награду для каждого из десяти решений будут различаться.
                Вы можете выбрать "Вариант А" в одних решениях и "Вариант Б" в других,
                однако такое переключение с одного варианта на другой возможно не более одного раза
                (больше не позволит программа).
            {% endblocktrans %}
            {% blocktrans trimmed with n=num_choices %}
        После того как вы примете свои решения в этой части эксперимента,
                одно из 10 решений в каждом раунде будет выбрано случайным образом, и разыграно при помощи компьютера.
                Выигрыш в токенах за раунд будет определен как выигрыш по итогам этого розыгрыша, что повторится во всех трех раундах.
                Полученный выигрыш за этот этап будет выплачен Вам в конце сессии.
            {% endblocktrans %}
            <table border="0" cellspacing="0" cellpadding="0" >
            <tbody>
            <tr>
            <td valign="top" ><p><b></b></p></td>

            </tr>
            </tbody>
            </table>

        </p>


    </div>

    {% next_button %}

{% endblock %}
