{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Инструкция" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p>
            {% blocktrans trimmed with n=num_choices %}
                В каждом из первых трех раундов этого этапа Вам предстоит принять 10 решений, выбрав один из двух вариантов на экране компьютера.
                Эти варианты обозначены как "Вариант А" и "Вариант Б". Вариант А всегда приносит Вам одинаковую сумму в токенах во всех 10 решениях.
                Если Вы выберете Вариант Б, то часть суммы в токенах Вы получаете наверняка, а другая часть зависит от случая,
                так что итоговая сумма может оказаться как большей, так и меньшей, чем сумма наверняка. Вероятность,
                с которой Вы получаете большую или меньшую сумму, будет различаться для разных  решений.
                Внимательно изучите эти альтернативы, и выберите либо Вариант А, либо Вариант Б для каждого из 10 решений.
                Вы можете в одних решениях выбрать Вариант А, в других Вариант Б, однако такое переключение с одного
                варианта на другой возможно не более одного раза (больше не позволит программа).
            {% endblocktrans %}
            {% blocktrans trimmed with n=num_choices %}

                Вам надлежит принять такие решения в ходе трех раундов, с разными выигрышами в Вариантах А и Б.
                В конце этого этапа компьютер случайным образом выберет одно из Ваших решений в одном из трех раундов,
                разыграет то из них, которое Вы предпочли, а также попросит Вас ответить на два дополнительных вопроса.
                Полученный выигрыш за этот этап будет показан на экране и выплачен Вам в конце сессии.
            {% endblocktrans %}
            <table border="0" cellspacing="0" cellpadding="0" >
            <tbody>
            <tr>
            <td valign="top" ><p><b></b></p></td>

            </tr>
            </tbody>
            </table>

        </p>


    </div>

    {% next_button %}

{% endblock %}
