

    <!--<p>-->


    <!--{{z.0}}-->
    <!--</p>-->
    <style type="text/css">

    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #bcaf91;border-collapse: collapse;}
    .tftable tr {;}
    .tftable td {;font-size:12px;border-width: 5px;padding: 54px;border-style: solid;border-color: #ffffff;}
    .tftable tr:hover {background-color:#ffffff;}
 
    </style>
    СРАВНИТЕ ДАННЫЙ  ЦВЕТ (уровень сложности 1)
    <table class="tftable">
      <tr>  <td style="background-color:rgb(100,100,100)"> </td> </tr>
        </table>
    С ОДНИМ ИЗ ЦВEТОВ В ТАБЛИЦЕ НИЖЕ (ОДИН ИЗ НИХ ИДЕНТИЧЕН, ОСТАЛЬНЫЕ ОТЛИЧАЮТСЯ)

    <!--комментарий: выбор таблиц по условию-->



        <table class="tftable">
        <tr ><td style="background-color:rgb(120,120,120)"> </td ><td style="background-color:rgb(119,119,119)"> </td><td style="background-color:rgb(119,119,119)"> </td><td style="background-color:rgb(119,119,119)"> </td></tr>
        <tr><td style="background-color:rgb(119,119,119)"> </td><td style="background-color:rgb(119,119,119)"> </td><td style="background-color:rgb(120,120,120)"> </td><td style="background-color:rgb(120,120,120)"> </td></tr>
        <tr><td style="background-color:rgb(120,120,120)"> </td><td style="background-color:rgb(119,119,119)"> </td><td style="background-color:rgb(100,100,100)"> </td><td style="background-color:rgb(119,119,119)"> </td></tr>
        <tr><td style="background-color:rgb(119,119,119)"> </td><td style="background-color:rgb(120,120,120)"> </td><td style="background-color:rgb(120,120,120)"> </td><td style="background-color:rgb(120,120,120)"> </td></tr></table>

        </table>

Цвета в RGB оригинал - (100,100,100), шумовые - (119,119,119), (120,120,120)



