{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Инструкции
    </h3>

    <p>
Правила игры стандартные:
В каждом раунде Вы выбираете одно из трех возможных действий: Камень, Ножницы или Бумага. Ваш оппонент делает то же самое независимо от вас. Победитель в каждом раунде   определяется по следующему правилу
<p/>
    <p>
    Бумага побеждает камень («бумага камень завернет»); <br>
    Камень побеждает ножницы («камень ножницы затупит»);<br>
    Ножницы побеждают бумагу («ножницы бумагу разрежут»).<br>
Если оба игрока выбрали одно и то же действие, исходом раунда является ничья.<br>


    </p>
    <p align="justify">
        Оппонент <br>
В качестве оппонента с вами будет играть компьютерная программа. <br>
Действия программы подчиняются некоторому алгоритму, про который известно следующее:<br>
•	В момент принятия решения в каждом раунде ему не известно Ваше действие в текущем раунде<br>
•	Ему доступна информация о действиях обоих участников (и ваших, и его) в предыдущих раундах.<br>
•	Алгоритм программы не меняется на протяжении всей игры<br>
•	Алгоритм может подчиняться некоторому правилу (закономерности), но может и не подчиняться. Знание закономерности позволит лучше предугадывать действия оппонента (компьютерной программы).  <br>
Больше про ее алгоритм Вам ничего не известно.<br>

</div>
